*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #111;
}

/*start of Navbar Design*/
nav {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	box-shadow: 0 2px 5px #757575;
	background-color: #fff;
	z-index: 1;
}

a {
	text-decoration: none;
}

.itb-nav-list {
	max-width: 1400px;
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav-button {
	width: auto;
	height: 50px;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#itBookLogo {
	width: 125px;
	height: 40px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	animation-name: changebackground;
	animation-duration: 4s;
	animation-delay: 1s;
	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-fill-mode: forwards;
}

#itBookLogo:hover {
	animation-duration: 0s;
}

#itbMenuButton {
	display: none;
	color: rgb(75,75,75);
	font-size: 2rem;
}

#closeMenu {
	display: none;
}

.itb-nav-list ul {
	width: 50%;
	height: auto;
	padding: 0 1rem;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.tooltip, .userButton {
	width: auto;
	height: 50px;
	padding: 0 1rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.itb-nav-link {
	width: 100%;
	height: 50px;
	line-height: 55px;
	color: rgb(75,75,75);
	font-size: 1.9rem;
	font-family: 'Teko', sans-serif;
	text-align: center;
}

.tooltiptext {
	visibility: hidden;
	position: absolute;
	top: 100%;
  	left: 50%;
	width: 150px;
	height: auto;
	margin-left: -75px;
	padding: .5rem;
	background-color: rgb(75,75,75);
	color: #fff;
	text-align: center;
	font-family: 'Hind Siliguri', sans-serif;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgb(75,75,75);
	opacity: 0;
	transition: opacity 1s;
	z-index: 1; 
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(75,75,75) transparent;
}
.link-word {
	display: none;
}

.tooltip:hover, 
.userButton:hover {
	background-color: rgb(25,25,25);
}

.tooltip:hover .itb-nav-link,
.userButton:hover #userName,
.user-menu:hover a {
	color: #fff;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

#userMenu {
	display: none;
	position: absolute;
	top: 115%;
	right: 0;
	width: 8rem;
	height: auto;
	background-color: #fff;
	border: 1px solid rgb(75,75,75);
	border-radius: 5px;
}

.user-menu {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: rgb(75,75,75);
	font-size: 1.9rem;
	font-family: 'Teko', sans-serif;
	display: flex;
	justify-content: center;
}

.user-menu:hover {
	background-color: rgb(75,75,75);
}

.user-menu a {
	color: rgb(75,75,75);
}
/*End of Nav bar Design*/

/*backgroundvideo */
#videoContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: -1;
	overflow: hidden;
}

#videoBackground {
	width: 100%;
	min-width: 1500px;
	height: auto;
	object-fit: cover;
}
/*end backgroundvideo*/

/*main design */
main {
	width: 100%;
	height: 100%;
}
	
#header {
	position: relative;
	top: 0;
	background-color: rgba(30,30,30,.85);
	max-width: 1400px;
	min-height: 800px;
	margin: 0 auto;
	padding: 9rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro {
	font-family: 'Kufam', cursive;
}

#header h1,
#header h2,
.motto:nth-child(1),
.motto:nth-child(2),
.motto:nth-child(3),
#bookNowButton {
	animation-name: fadingin;
	animation-duration: 3s;
	animation-timing-function: linear;
  	animation-iteration-count: 1;
  	animation-fill-mode: backwards;
}

#header h1 {
	color: #eee;
	animation-delay: 1s;
}

#header h2 {
	color: rgb(45,255,255);
}

.motto:nth-child(1) {
	animation-delay: 1.5s;
}

.motto:nth-child(2) {
	animation-delay: 2s;
}

.motto:nth-child(3) {
	animation-delay: 2.5s;
}

#bookNowButton {
	position: relative;
	margin: 1rem 0;
	width: 4rem;
	height: 4rem;
	border: 3px solid rgb(0,128,128);
	border-radius: 2rem;
	text-align: center;
	font-size: 1.5rem;
	color: rgb(45,255,255);
	animation-delay: 11s;
	transition: width .5s;
}

#hourGlass,
#bookNowWord {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#bookNowButton:hover {
	width: 11rem;
}

#bookNowButton:hover #hourGlass {
	animation-name: fadingout;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-timing-function: linear;
  	animation-iteration-count: 1;
  	animation-fill-mode: forwards;
}

#bookNowButton:hover #bookNowWord {
	animation-name: fadingin;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-timing-function: linear;
  	animation-iteration-count: 1;
  	animation-fill-mode: forwards;
}


#bookNowWord {
	width: 100%;
	opacity: 0;
	font-family: 'Hind Siliguri', sans-serif;
}

#itbDisplay {
	width: 50%;
	height: auto;
	text-align: justify;
	color: #ddd;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.2rem;
}
/*main design*/

/*Start of Footer Design */
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: rgb(0,128,128);
	font-family: 'Hind Siliguri', sans-serif;
}

.footer-list {
	display: flex;
	justify-content: space-around;
	align-items: top;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: 0 auto;
	padding: .5rem;
	color: #bbb;
	border-bottom: 1px solid rgb(75,75,75);
}

.contacts-info h4, .media-accounts h4 {
	color: rgb(50,50,50)
}

#fbLogo, #twitterLogo, #instaLogo {
	color: #bbb;
	font-size: 1.5rem;
	padding: .5rem 1rem;
}

.signature {
	text-align: center;
	font-weight: bold;
	color: rgb(50,50,50);
}

.text-center {
	text-align: center;
}
/*End of Footer Design */

#alertBackground {
	display: none;
}

.black-background {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(11,11,11,.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

#alertSection {
	max-width: 30rem;
	margin: 0 .5rem;
	height: auto;
	border: 10px double rgb(45,128,128);
	border-radius: 10px;
}

#alertSection p {
	margin: 1rem;
	color: #fff;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.2rem;
	text-align: justify;
}

#alertButtons {
	margin: 0 1rem 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.alert-button {
	margin: 0 .5rem;
	padding: .5rem 1rem .3rem;
	background-color: rgb(0,128,128);
	border-radius: 3px;
	font-family: 'Kufam', cursive;
	color: #fff;
}

.loading {
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	font-family: "Corbel Light", sans-serif;
	animation-name: loadinglight;
	animation-duration: 0s;
	animation-timing-function: linear;
  	animation-iteration-count: 3;
}

.loading-circle {
	width: 2rem;
	height: 2rem;
	border-top: 3px solid #ddd;
	border-right: 3px solid #ddd;
	border-bottom: 3px solid #ddd;
	border-left: 3px solid #111;
	border-radius: 50%;
	animation-name: rotatecircle;
	animation-duration: 0s;
	animation-timing-function: linear;
  	animation-iteration-count: 6;
}


/*ITBook media queries*/
@media screen and (max-width: 800px) {
	/*for navbar*/
	nav {
		height: 50px;
		overflow: hidden;
	}

	.itb-nav-list {
		height: auto;
		display: block;
	}

    .main-nav-button, .itb-nav-link {
  		width: 100%;
    }

    #itbMenuButton {
		display: inline;
	}

	.itb-nav-list ul {
		padding: 0;
		display: block;
		width: 100%;
	}

	#coursesLogo, #updatesLogo, #registerLogo {
		display: none;
	}

	.link-word {
		display: inline;
	}

	.tooltip, .userButton {
		padding: 0;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.tooltiptext {
		display: none;
	}

	#navSession {
		display: block;
		width: 100%;
	}

	#userName {
		display: block;
		text-align: center;
	}

	#userMenu {
		position: relative;
		display: block;
		width: 100%;
		border: none;
		border-radius: 0;
	}

	.user-menu {
		display: flex;
		justify-content: center;
	}

	#itbDisplay {
		width: 80%;
	}

	footer {
		position: relative;
	}
}

/*for animation*/

@keyframes fadingin {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadingout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes changebackground {
	0% {
		background-image: url("../images/itbooklightnb2.png");
	}
	50% {
		background-image: url("../images/itbooknb2.png");
	}
	100% {
		background-image: url("../images/itbooklightnb2.png");
}


@keyframes loadinglight {
	0% {
		color: #ddd;
		text-shadow: none;
	}
	50% {
		color: #fff;
		text-shadow: -2px 0 25px rgba(255,255,255,.5), 0 2px 5px rgba(255,255,255,.5), 2px 0 5px rgba(255,255,255,.5), 0 -2px 5px rgba(255,255,255,.5);
	}
	100% {
		color: #ddd;
		text-shadow: none;
	}
}

@keyframes rotatecircle {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}