#registerLink {
	background-color: rgb(0,128,128);
}

#registerLogo,
#registerWord {
	color: #fff;
}

.register-section {
	max-width: 400px;
	height: auto;
	background-color: rgba(30,30,30,.85);
	margin: 10rem auto;
	padding: 1.5rem 1rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px double rgb(45,255,255);
	border-radius: 20px;
}

h1 {
	text-align: center;
	font-family: 'Kufam', cursive;
	color: #fff;
}

#firstName,
#lastName,
#mobileNumber,
#emailAddress,
#passWord,
#passWordVerified,
#logInButton {
	width: 100%;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.2rem;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid rgb(45,255,255);
	border-radius: 5px;
}

#logInButton {
	background-color: rgb(0,128,128);
	color: #fff;
}

.login-section a {
	display: block;
	width: 100%;
	margin: 10px 0 0;
	text-align: center;
	font-family: 'Hind Siliguri', sans-serif;
	color: rgb(45,255,255);
}

